scipy
matplotlib
biopython
sqlalchemy
pandas 
numpy
psycopg2
django==3.2.10
django-ipware
django-crequest
django-embed-video
django-bootstrap-breadcrumbs
django-user-agents
django-crispy-forms
django-braces
django-tables2
django-nose
django-bootstrap4
django-background-tasks
django-view-breadcrumbs
