{% extends '_layouts/base.html' %}
{% load render_table from django_tables2 %}


{% block content %}
{% if user.is_authenticated %}

<button class="btn btn-primary" type="submit">
    <a href="{% url "televir_upload_data" %}">New Sample</a>
</button>

<button class="btn btn-primary" type="submit">
    <a href="{% url "televir_projects_main" %}">Projects page</a>
</button>

<button class="btn btn-primary" type="submit">
    <a href="{% url "logout" %}?next={{request.path}}">Logout</a>
</button>

{% else %}

<button class="btn btn-primary" type="submit">
    <a href="{% url "login" %}?next={{request.path}}">Login</a>
</button>

{% endif %}
{% endblock %}