{% extends '_layouts/base.html' %}
{% load render_table from django_tables2 %}
{% load django_bootstrap_breadcrumbs %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<style>
    main {

        padding: 130px;
        width: 50%;
    }

    main form {
        display: grid;


    }

    .margin-bottom {
        margin-bottom: 15px;
    }

    form p {
        font-size: 14px;
        font-family: Arial, sans-serif;
        font-weight: bold;
        color: #000000;
        margin-bottom: 15px;
        marghin-top: 20px;
    }

    form input {
        width: 100%;
        height: 40px;
        border-radius: 5px;
        border: 1px solid #ccc;
        padding-left: 10px;
        font-size: 14px;
        font-family: Arial, sans-serif;
        font-weight: bold;
        color: #000000;
        margin-bottom: 15px;
        marghin-top: 20px;
    }

    form input:focus {
        border: 1px solid #000;
    }

    form input[type="submit"] {
        background-color: #00a65a;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px;
        font-size: 14px;
        font-family: Arial, sans-serif;
        font-weight: bold;
        color: #000000;
        margin-bottom: 15px;
        marghin-top: 20px;
    }

    form input[type="submit"]:hover {
        background-color: #00c0ef;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px;
        font-size: 14px;
        font-family: Arial, sans-serif;
        font-weight: bold;
        color: #000000;
        margin-bottom: 0;
        marghin-top: 20px;
    }

    form input[type="submit"]:focus {
        background-color: #00a65a;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px;
        font-size: 14px;
        font-family: Arial, sans-serif;
        font-weight: bold;
        color: #000000;
        margin-bottom: 0;
        marghin-top: 20px;
    }
</style>

<body>
    <div class="block">
        <div class="block">
        </div>
        <div class="block">


            <form type="submit" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_p }}
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>

        </div>
    </div>

</body>



{% endblock %}