{% extends '_layouts/base.html' %}
{% load render_table from django_tables2 %}

{% load static %}


{% block content %}

<ul class="breadcrumb">
    <li><a href={% url 'entry_page' %}> Home </a></li>
    <li><a href={% url 'televir_projects_main' %}> Projects </a></li>
    <li><a href={% url 'televir_project_samples' project_name=project_name %}> project {{ project_name }} </a></li>
</ul>

<body>

    <div class="container" id="left">
        <div>
            <div>
                <div class="button" style="display: inline-block" display="center">
                    <a href="{% url 'all_sample_reports' project=project_name sample_name=name%}" style="">All
                        results</a>
                </div>
            </div>
        </div>

        {% if waiting %} <div class="alert alert-info"> <strong> Please wait </strong> </div>
        {% elif error %} <div class="alert alert-danger"> <strong> Error </strong> </div>
        {% else %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4> Quality Control </h4>

                    <p> Reads trimmed using {{ sampleqc.software }}. </p>
                    <p> {{ sampleqc.input_reads }} input reads, {{ sampleqc.processed_reads }} passed
                        ({{sampleqc.percent_passed }} %). </p>
                </div>
            </div>

            <table class="center">
                {{ block.super }}
                <link href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" rel="stylesheet">

                {% render_table qc_table %}
            </table>
        </div>
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <p> Input Fastqc <a
                            href="{% url 'display_fastqc_report' name=name report_source="input" %}">report</a>
                    </p>

                </div>

                <div class="col-md-12">
                    <p> Processed Fastqc <a
                            href="{% url 'display_fastqc_report' name=name report_source="processed" %}">report</a>
                    </p>

                </div>
            </div>
        </div>
        <br>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4> Runs </h4>
                </div>

            </div>
        </div>


        <table class="center">
            {% render_table runs "django_tables2/semantic.html" %}
        </table>
        {% endif %}
</body>
{% endblock content %}